# ----------------------------------------------------------------------------
# GitHub Actions workflow to build using FPC and package resulting binary.
# ----------------------------------------------------------------------------

name: Build

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build
    strategy:
      matrix:
        runner: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
      
      # Use https://github.com/castle-engine/castle-build-ci to get FPC and CGE
      - name: Setup Castle Game Engine
        run: |
          cd /tmp/ # temporary directory, to be separate from the current project files
          git clone https://github.com/castle-engine/castle-build-ci.git \
            --depth=1 --single-branch --branch=master
          castle-build-ci/install_dependencies
          castle-build-ci/setup_castle_engine --install-castle-engine=false --install-fpc=true
        
      - name: Build
        run: fpc report-params.dpr
      - name: Archive Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.runner }}-build
          path: |
            report-params
            report-params.exe
          #if-no-files-found: error
