# ----------------------------------------------------------------------------
# GitHub Actions workflow to build using FPC and package resulting binary.
# ----------------------------------------------------------------------------

name: Build

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build
    strategy:
      matrix:
        # macOS note:
        # We are not using macos-latest, as then setup-lazarus fails
        # with message "This package is incompatible with this version of macOS."
        # likely because of aarch64 vs x86_64.
        # Using macos-13 as the latest macOS that is known to work flawlessly with CGE GHA.
        runner: [ubuntu-latest, windows-latest, macos-13]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v5
      - name: Install FPC+Lazarus
        uses: gcarreno/setup-lazarus@v3.3.1
        with:
          lazarus-version: stable
      - name: Build
        run: fpc report-params.dpr
      - name: Archive Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.runner }}-build
          path: |
            report-params
            report-params.exe
          #if-no-files-found: error
